@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.output-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}